{deps, [
	{kvc, ".*" ,{git, "git://github.com/dankerrigan/kvc.git", {branch, "master"}}},
	{riak_json, ".*", {git, "git://github.com/basho-labs/riak_json.git", {tag, "v0.0.2"}}},
	{cowboy, ".*", {git, "git://github.com/extend/cowboy.git", {tag, "0.9.0"}}},
	{jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", {tag, "v1.4.5"}}}
%	{elixir, ".*", {git, "git://github.com/elixir-lang/elixir.git", {tag, "v0.12.4"}}},
%	{rebar_elixir_plugin, ".*", {git, "git://github.com/yrashk/rebar_elixir_plugin", {branch, "master"}}}
	]}.
